#first {
    background-color: #B94747;
    margin: auto;
    width:450px;
    height:450px;
    border-radius: 20px;
    overflow: hidden;
}
#itask {
  height:40px;
  width:80%;
  margin-top: 20px;
  margin-left: 30px;
  padding: 15px;
  border-radius: 20px;
  border-style: none;
  font-size:large;
  color: #747474 ;
}
#btn {
    border-radius: 50px;
    background-color: #A52929;
    height: 55px;
    width:30%;
    margin: 20px 155px;
    border: 2px solid black;
    font-size: larger;
}
#btn:hover {
    background-color: #4e0707;
}
#task {
    margin: auto;
    width:60%;
    height:30px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    color: #4C4938;
    padding-top: 8px;
}
img{
    display: block;
    margin: auto;
    padding: 50px;
}


